In [ ]:
# DAY - 2

## Control Flows

## Assignment Operations

## Mathematical Operations

In [ ]:
## Yesterday What have we studied 

"""Pythob Basics, Strings, Python Objects, Booleans, 
how to assign variables, logic gates, Typecasting, Dynamic Typing"""

"""Work Given - What is RAW ?"""

'Pythob Basics, Strings, Python Objects, Booleans, \nhow to assign variables, logic gates, Typecasting, Dynamic Typing'

#

In [5]:
# Revision

a = 10 # executing variable a = 10, dynamic tyoing, we dont have to declare the datatype

In [7]:
a = 'c'

In [10]:
type(a)

str

In [13]:
int('123')

123

In [14]:
int('abc')

ValueError: invalid literal for int() with base 10: 'abc'

In [16]:
print('HEllo World')

HEllo World

In [19]:
print(123)

123

In [21]:
# here, age is defined as a variable

age = 22
print("My age is: ",age)

My age is:  22

In [24]:
# This is formatting - f string

print(f"My age is: {age}")

My age is: 22

In [28]:
## format()

# indexing - in python programing language we start indexing from 0

name = "Krish"
age = "32"
print("My name is {} and age is {}".format(name , age))

My name is Krish and age is 32

In [29]:
## placeholder - f string format
print("My name is {firstname} and age is {firstage}".format(firstname = name , firstage = age))

My name is Krish and age is 32

In [33]:
name = "Rithvik"
age = 22
degree = "M.Tech Dual Degree"

print("My age is {} and i have completed: my degree of {} with name of {}".format(age, degree, name))

My age is 22 and i have completed: my degree of M.Tech Dual Degree with name of Rithvik

In [44]:
# f string

print(f"My age is {age} and I have Completed: My Degree of {degree} with the name of {name}")

My age is 22 and I have Completed: My Degree of M.Tech Dual Degree with the name of Rithvik

###

## Control Flow
### Decision making Statements

1. **if**
2. **if else**
3. **if elif else**
4. **nested if**
5. **single statement suits**

In [54]:
# If Statemets

age = 18
if age >= 18:
    print("You are eligible to Vote")

You are eligible to Vote

In [59]:
age = 17
if age < 18:
    print("You are not eligible to Vote")

You are not eligible to Vote

In [60]:
input()

 rithvik

'rithvik'

In [61]:
## TASK - 1
# Take input of age
# check wheather age >= 18 and age <=45
## display a message you are young blood

In [69]:
age = int(input("Enter Your age: "))

if age >= 18 and age <= 45:
    print("You are Young Blood")

Enter Your age:  46

In [75]:
22>=18 and 22<=45

True

In [78]:
# else statements

age = int(input("Enter Your age: "))
if age >= 18 and age <= 45:
    print("You are Young Blood")
else:
    print("Thankyou we will let you know")

Enter Your age:  18

You are Young Blood

In [79]:
# TASK - 2

# mall - input the product price
# any product in mall > 1000 rs 20% off
## product <= 1000 rs 30% off

## print the product price after the discount

In [14]:
price = int(input("Enter the Price of the Product:"))
if price > 1000:
    print ("discout is 20%, the final price is: {}".format(price-(price*0.2)))
else:
    print("disount is 10%, the final price is: {}".format(price-(price*0.1)))

Enter the Price of the Product: 1000

disount is 10%, the final price is: 900.0

In [ ]:
# TASK - 3


# >3000 - 20% off
# >=2000 and <=3000 - 30% off
# <=1000 and <=2000 - 40% off

In [40]:
product_price = int(input("Enter the PRoduct Price:"))

if product_price > 3000:
    print(f"Price is 20% off: {product_price-(product_price*0.2)}")
elif product_price >= 2000 and product_price <= 3000:
    print(f"Price is 30% off:{product_price-(product_price*0.3)}")
elif product_price >= 100 and product_price <= 2000:
    print(f"Price is 40% off: {product_price-(product_price*0.4)}")
else:
    print("lets Drink Tea")

Enter the PRoduct Price: 2100

Price is 30% off:1470.0

In [47]:
# TASK - 4

product_price = int(input("Enter the PRoduct Price:"))

if product_price > 3000:
    if product_price == 4000:
        print("Congratulations you won a trip to Goa")
    print(f"Price is 20% off: {product_price-(product_price*0.2)}")
elif product_price >= 2000 and product_price <= 3000:
    if product_price == 2999: #nested if
        print("Congratulations, you won a special gift")
    print(f"Price is 30% off:{product_price-(product_price*0.3)}")
elif product_price >= 100 and product_price < 2000:
    print(f"Price is 40% off: {product_price-(product_price*0.4)}")
else:
    print("lets Drink Tea \nI will also be there")

Enter the PRoduct Price: 2000

Price is 30% off:1400.0

### single statement suits

In [49]:
value = int(input("Enter the number"))
if(value<1000):print("Value is less than 1000")
else:
    print("Go Home")

Enter the number 1000

Go Home

## Loops Statements

1. while loop
2. for loop
3. nested loop
4. loop control(break, contibue, pass)

In [3]:
# while loop

# Example -1 ATM Machine wih 1000 rs

total_amount = 1000
while total_amount != 0:
    print(total_amount)
    total_amount=total_amount - 100   
else:
    print("Put more money bank people")

1000
900
800
700
600
500
400
300
200
100
Put more money bank people

## For Loop

In [6]:
## for loop usually works for iteration inside collection/containers/lists

## nested loops

n = 10
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [8]:
""" WORK GIVEN - Print Equilateral triangle """

n = 7
for i in range (0,n):
    print("     ",end="")
    for j in range (0, i + 1):
        print("*",end="")
    print("\n")

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *

In [29]:
## Telusko

for j in range(0, 4): # number of rows
    for i in range(): # number of columns
        print("# ",end ="")

    print()

# #
#

In [15]:
x = range(0, 10)
for n in x:
  print(n,end=" ")

0 1 2 3 4 5 6 7 8 9

In [6]:
for i in range(0,3):
        print("*",end=" ")

* * *

In [13]:
n = 7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [33]:
# loop controls
## brak and continue

fruits_list = ["Man", "Cherry", "Apple", "Monkey"]

In [35]:
for i in fruits_list:
    if i == "Apple":
        print("The Fruit is apple")
        continue
    print(i)

Man
Cherry
The Fruit is apple
Monkey